extends ./layouts/layout
block content  
	div(class="welcome") 
			h3 Welcome, #{user.name}
	hr
	div(class="media-container")
		each post in posts
			div(class="media-object")
				div(class="media-object-section main-section")
					h4 #{post.title}				
				div(class="media-object-section main-section") 		
					p #{post.post}
				div(class="media-object-section main-section")
					cite #{post.username}