extends ./layouts/layout
block content  
	h2(class="header") Account login
	form(method="post" action="/users/login")
		div(class="form-group")
			input(type="text" name="username" placeholder="Username")
		div(class="form-group")
			input(type="password" name="password" placeholder="Password")
		button(type="submit" class="button") Submit
	div(class="row")
		a(href="/users/auth/facebook")
			i(class="fa fa-facebook fa-2x" aria-hidden="true")
		a(href="/users/auth/github")
			i(class="fa fa-github fa-2x" aria-hidden="true")
