@import 'foundation';


@include foundation-flex-classes;
@include foundation-flex-grid;

body {
	padding-top: 30px;
}

.button {
	margin-right: 10px;
}

.fa {
	margin-left: 20px;
}

.welcome {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}